<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
        bean-discovery-mode="all">
        <alternatives>
            <class>ee.cdi.Student</class>
        </alternatives>
    <!--<interceptors><class>ee.cdi.IntercepterOnee</class></interceptors>-->
    <decorators>
        <class>
            ee.cdi.MyDecorator
        </class>
    </decorators>
</beans>